@import "tailwindcss";
@font-face{
    font-family: Sora;
    src: url("./assets/fonts/Sora-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: JakartaSans;
    src: url("./assets/fonts/PlusJakartaSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: Poppins;
    src: url("./assets/fonts/Poppins-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
  --text: #ffffff;
  --text-h: #08060d;
  --background: rgb(9, 60, 93);
  --semi-background:#092a40;
  --primary-button: #06283f;
  --border: #000000;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@theme inline {
  --color-text: var(--text);
  --color-text-h: var(--text-h);
  --color-background: var(--background);
  --color-semi-backgroud: var(--semi-background)
  --color-border: var(--border);
  --color-primary-button : var(--primary-button);
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Plus Jakarta Sans', sans-serif;
  
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background: transparent;
}
.wave-container {
  width: 100%;
  /* Tinggi diubah menjadi 117px karena kita telah memotong 83px ruang kosong di bagian atas */
  height: 117px; 
  overflow: hidden;
  /* (Opsional) Memastikan kontainer tidak memiliki margin/padding tidak terduga */
  line-height: 0;
}
#root {
  box-sizing: border-box;
}
